#spacing {
    margin-right: 34.39px;
}


.menu {
    position: relative;
}

.submenu {
    opacity: 0;
    pointer-events: none;
    position:absolute;
    top: 50%;
    left: 0;
}

.background {
    width: 770.28px;
    height: 646.485px;
    flex-shrink: 0;
    background: url(Header\ Lady\ 1.svg), no-repeat;
    margin-left: 600.16px;
}

.socials {
    padding-left: 131.82px;
    padding-top: 51.17px;
}